@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #dddddd;
}
.mobile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 331px;
    height: 616px;
    background: #f7f2ec;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(139, 139, 139);
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}